<a href="https://colab.research.google.com/github/Yash1289/python_practice/blob/main/Python_Pop_Quiz_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Create a quick Generator object
row = [1,2,3,4]

#Not tuple
num_gen = (r for r in row)

print(next(num_gen), next(num_gen))

1 2

In [11]:
#Use of Print statements in various ways
a = "a"
b = "b"
print(a, b)
print("a", "b")
print("a" "b")
print(f"{a}")
print(f"{a=}")
print(f"{a:.<9}")
print(f'{"a":.>9}')
print(True+False)
#print(True+None) --> This one will give type error as we are adding bool and NoneType

a b
a b
ab
a
a='a'
a........
........a
1

In [12]:
'''
i = 1
while True:
    if i % 3 == 0:
        break
    print(i)
 
    i + = 1
'''
#As the '+' and '=' are spaced this code will not work

'\ni = 1\nwhile True:\n    if i % 3 == 0:\n        break\n    print(i)\n \n    i + = 1\n'

In [13]:
>>> 2 << 7

256

'<<' is referred to as a bitwise left shift. A bit-shift shifts each digit in a number's binary left or right. Shifting can be left(most significant bit is lost and 0 inserted on the opposite end) and right(least significant bit lost and 0 inserted on the opposite end.

In [18]:
class classy:
  def __init__(self, id):
    self.id = str(id)
    id="11"
 
instance = classy(22)
instance.id

'22'

Above we initialize a class and instantiate it with the value '22'. This will be the result of the above snippet.

In [19]:
def funk(lst):
    lst[0] = ['def']
    lst[1] = ['abc']
    return id(lst)

lst = ['abc', 'def']
id(lst) == funk(lst)

True

The 'id' function returns a unique id based on the value passed. In this case, we evaluate the same object and therefore we expect the left and right sides to be equal.

In [20]:
"a" + 'bc'

'abc'

In [23]:
#False numerical value
min(max(False, -7.5, -7), 2, 1, 9)

False

Above max function gets the maximum between -7.5, -7, and False. Here, False is the maximum since it is zero, then between False, 2, 1, and 9, False is the minimum(min) therefore it prints False.

In [22]:
#number formatting

num = 100.119

print("%.2f"% num)

100.12

In [24]:
#lambda function with arguments

(lambda x, y: x * y)(2, 3)

6

In [33]:
#how to set a default key for a dicitonary, faster than .get

d = {1 : "A", 2 : "B", 3 : "C"}
k = d.setdefault(5,[])
print(k)

[]

In [34]:
#This will work no error
print('hello' 'world')

helloworld

In [45]:
print('*', "abc".center(10) , '*' , sep='-')

*-   abc    -*

.center aligns the string center and uses a specified character as the fill character. array axis works in (z,y,x) format

In [46]:
#Using if-else in lambda functions

result = lambda x : f"{x} is even" if x %2==0 else f"{x} is odd"
 
# print for numbers
print(result(12))
print(result(11))

12 is even
11 is odd

In [47]:
print('{0:.2%}'.format(1/4))

25.00%

In [48]:
#The task of len function is to return keys in the dictionary
counter = {}
 
def addToCounter(country):
    if country in  counter:
        counter[country] += 1
    else:
        counter[country] = 1
 
addToCounter('China')
addToCounter('Japan')
addToCounter('china')
 
print (len(counter))

3

In [49]:
class Geeks:
    def __init__(self, id):
        self.id = id
  
manager = Geeks(100)
  
manager.__dict__['life'] = 49
  
print (manager.life + len(manager.__dict__))

51

.id is already a part of the manager dictionary and we are adding another one named .life

In [50]:
#How to access the doc string of a python function
def gfgFunction():
    "Geeksforgeeks is cool website for boosting up technical skills"
    return 1
 
print (gfgFunction.__doc__[17:21])

cool

In [ ]:

class A(object):
    val = 1
 
class B(A):
    pass
 
class C(A):
    pass
 
print (A.val, B.val, C.val)
B.val = 2
print (A.val, B.val, C.val)
A.val = 3
print (A.val, B.val, C.val)

In Python, class variables are internally handled as dictionaries. If a variable name is not found in the dictionary of the current class, the class hierarchy (i.e., its parent classes) are searched until the referenced variable name is found, if the variable is not found error is being thrown. So, in the above program the first call to print() prints the initialized value i.e, 1. In the second call since B. val is set to 2, the output is 1 2 1. The last output 3 2 3 may be surprising. Instead of 3 3 3, here B.val reflects 2 instead of 3 since it is overridden earlier.

In [59]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute']
check2 = check1
check3 = check1[:]
 
check2[0] = 'Code'
check3[1] = 'Mcq'

count = 0
for c in (check1, check2, check3):
    if c[0] == 'Code':
        count += 1
    if c[1] == 'Mcq':
        count += 10

print(count)

12

When assigning check1 to check2, we create a second reference to the same list. Changes to check2 affects check1. When assigning the slice of all elements in check1 to check3, we are creating a full copy of check1 which can be modified independently (i.e, any change in check3 will not affect check1). So, while checking check1 ‘Code’ gets matched and count increases to 1, but Mcq doesn’t gets matched since its available only in check3. Now checking check2 here also ‘Code’ gets matched resulting in count value to 2. Finally while checking check3 which is separate than both check1 and check2 here only Mcq gets matched and count becomes 12.

In [60]:
def gfg(x,l=[]):
    for i in range(x):
        l.append(i*i)
    print(l)
 
gfg(2)
gfg(3,[3,2,1])
gfg(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

The third function call is the weird one. It uses the original list stored in the original memory block. That is why it starts off with 0 and 1.

In [64]:
#To print raw strings with no consideration for special characters
print(r'C:\\inside C directory')

C:\\inside C directory

In [67]:
d1 = [10, 20, 30, 40, 50]
d2 = [1, 2, 3, 4, 5]
print(d1 - d2)

TypeError: ignored

In [68]:
lists = ['a', 'b', 'c', 'd', 'e']
print(lists[10:])

[]

As one would expect, attempting to access a member of a list using an index that exceeds the number of members (e.g., attempting to access list[10] in the list above) results in an IndexError. However, attempting to access a slice of a list at a starting index that exceeds the number of members in the list will not result in an IndexError and will simply return an empty list.

In [69]:
# negative number so empty list
lists = ['a', 'b', 'c']*-3
print(lists)

[]

In [70]:
dictionary1 = {'Google' : 1,
               'Facebook' : 2,
               'Microsoft' : 3
               }
dictionary2 = {'GFG' : 1,
               'Microsoft' : 2,
               'Youtube' : 3
               }
dictionary1.update(dictionary2);
for key, values in dictionary1.items():
    print(key, values)

Google 1
Facebook 2
Microsoft 2
GFG 1
Youtube 3

In [71]:
#The value assigned most recently is returned from the dictionary


dictionary1 = {'GFG' : 1,
               'Google' : 2,
               'GFG' : 3
               }
print(dictionary1['GFG']);

3

In [72]:
#Finally if used must come after else block or else we will get one runtime error

data = 50
try:
    data = data/0
except ZeroDivisionError:
    print('Cannot divide by 0 ', end = '')
else:
    print('Division successful ', end = '')
  
try:
    data = data/5
except:
    print('Inside except block ', end = '')
else:
    print('GFG', end = '')

Cannot divide by 0 GFG

In [77]:
data = [2, 3, 9]
temp = [[x for x in [data]] for x in range(3)]
temp2 = [x for x in [data]]
print (temp , temp2)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]] [[2, 3, 9]]

In [78]:
#nested list comprehension


temp = 'Geeks 22536 for 445 Geeks'
data = [x for x in (int(x) for x in temp if x.isdigit()) if x%2 == 0]
print(data)

[2, 2, 6, 4, 4]

In [80]:
#T1 is an integer while T2 is tuple. Thus T1 will become 1 + 5 = 6. But an integer and tuple cannot be added, it will throw TypeError.
T1 = (1)
T2 = (3, 4)
T1 += 5
print(T1)
print(T1 + T2)

6

TypeError: ignored

In [81]:
#How True are handled
List = [True, 50, 10]
List.insert(2, 5)   
print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

In [82]:
#Remove return nothing
L = [1, 3, 5, 7, 9]
print(L.pop(-3), end = '  ')
print(L.remove(L[0]), end = '  ')
print(L)

5  None  [3, 7, 9]

In [ ]:
#Will result in infinite loop
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)

In [83]:
x = 123
for i in x:
    print(i)

TypeError: ignored

In [84]:
numberGames = {}
numberGames[(1,2,4)] = 8
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
  
sum = 0
for k in numberGames:
    sum += numberGames[k]
  
print(len(numberGames) + sum)

33

objects of type int are not iterable off course

In [86]:
#Tuple concatenation


t = (1, 2)
print(2 * t)

(1, 2, 1, 2)

TypeError: ignored

In [89]:
'''
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
print (d1 > d2)
'''
#This will give error as two dict can't be compared like this

my_tuple = (6, 9, 0, 0)
my_tuple1 = (5, 2, 3, 4)
print(my_tuple > my_tuple1)

True

Each elements of the tuples are compared one by one and if maximum number of elements are there in tuple1 which are greater of equal to corresponding element of tuple2 then tuple1 is said to be greater than tuple2.

In [90]:
L = list('123456')
L[0] = L[5] = 0
L[3] = L[-2]
print(L)

[0, '2', '3', '5', '5', 0]

L[0] is ‘1’ and L[5] is ‘6’, both of these elements will be replaced by 0 in the List. L[3], which is 4 will be replaced L[-2] i.e. 5.

In [91]:
T = 'geeks'
a, b, c, d, e = T
b = c = '*'
T = (a, b, c, d, e)
print(T)

('g', '*', '*', 'k', 's')

In [92]:
a = 2
b = '3.77'
c = -8
str1 = '{0:.4f} {0:3d} {2} {1}'.format(a, b, c)
print(str1)

2.0000   2 -8 3.77

 At Index 0, integer a is formatted into a float with 4 decimal points, thus 2.0000.

In [ ]:
#In this case elements will be compared one by one. So, when it compares 4 with 3 it will return False.
tuple1 = (1, 2, 4, 3)
tuple2 = (1, 2, 3, 4)
print(tuple1 < tuple2)

In [ ]:
d = {"a": 3, "b": 2, "c": 5, "d": 2}

c = list(zip(d.keys() ,d.values()))

sorted_c = sorted(c, key = lambda x : (x[1],x[0]), reverse = True )

sorted_c

[('c', 5), ('a', 3), ('d', 2), ('b', 2)]

In [ ]:
'''
With the help of np.array() function
Define 3, 4, 2 matrix
50 sentences
500 unique words
25 batch size
one hot encoding
25,2,500
'''